@use './variables.scss' as *;

page {
  color: $primary-color;
}

#app {
  max-width: 400px;
  height: 100%;
  margin: 0 auto;

  .taro_page {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

page, body, view, text {
  font-family: 'CustomFont', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif !important;
}
