@use './variables.scss' as *;

page {
  color: $primary-color;
  min-height: 100vh;
}

page, body, view, text {
  font-family: 'CustomFont', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif !important;
}

.container {
  padding: 24rpx;
  padding-bottom: 48rpx;
}
