@use 'sass:math';

// Colors
$primary-color: #1d1615;

// Spacing
$spacing-xs: 8rpx;
$spacing-sm: 16rpx;
$spacing-md: 24rpx;
$spacing-lg: 32rpx;
$spacing-xl: 48rpx;

// Border radius
$radius-sm: 12rpx;
$radius-md: 16rpx;
$radius-lg: 24rpx;

// Font size
$font-xs: 24rpx; // 提示、标签
$font-sm: 32rpx; // 正文、标题
$font-feel: 80rpx; // 体感温度

// 图片大小
$body-width: math.div(336rpx, 2);
$body-height: math.div(819rpx, 2);
$jacket-width: math.div(354rpx, 2);
$jacket-height: math.div(332rpx, 2);
$skirt-width: math.div(276rpx, 2);
$skirt-height: math.div(203rpx, 2);
$tshirt-width: math.div(272rpx, 2);
$tshirt-height: math.div(240rpx, 2);
$line-width: math.div(113rpx, 2.5);
$line-height: math.div(47rpx, 2.5);
$pants-width: math.div(234rpx, 2);
$pants-height: math.div(361rpx, 2);
$vest-width: math.div(180rpx, 2);
$vest-height: math.div(246rpx, 2);
$light-jacket-width: math.div(358rpx, 2);
$light-jacket-height: math.div(365rpx, 2);
$short-pants-width: math.div(250rpx, 2);
$short-pants-height: math.div(221rpx, 2);
$hoodie-width: math.div(346rpx, 2);
$hoodie-height: math.div(325rpx, 2);
