@use 'sass:math';

// Colors
$primary-color: #1d1615;

// Spacing
$spacing-xs: 8rpx;
$spacing-sm: 16rpx;
$spacing-md: 24rpx;
$spacing-lg: 32rpx;
$spacing-xl: 48rpx;

// Border radius
$radius-sm: 12rpx;
$radius-md: 16rpx;
$radius-lg: 24rpx;

// 图片大小
$body-width: math.div(336rpx, 2);
$body-height: math.div(819rpx, 2);
$jacket-width: math.div(354rpx, 2);
$jacket-height: math.div(332rpx, 2);
$skirt-width: math.div(276rpx, 2);
$skirt-height: math.div(203rpx, 2);
$tshirt-width: math.div(272rpx, 2);
$tshirt-height: math.div(240rpx, 2);
$line-width: math.div(113rpx, 2);
$line-height: math.div(47rpx, 2);
$pants-width: math.div(234rpx, 2);
$pants-height: math.div(361rpx, 2);
